<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite">

    <listeners>
        <listener class-name="utils.ExtentTestNGListener"/>
    </listeners>

    <test name="E2ETestsDB">
        <classes>
            <class name="tests.E2ETestDB"/>
        </classes>
    </test>
</suite>
